body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

.cv-container {
  display: flex;
  max-width: 1000px;
  margin: 40px auto;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
/* Cột trái */
.left-column {
  width: 35%;
  background-color: #f0f4f8;
  padding: 30px;
  text-align: center;
}
.avatar {
  width: 150px;
  border-radius: 50%;
  border: 4px solid rgb(149, 170, 197);
  object-fit: cover;
  margin: 0 auto 20px;
  display: block;
}
.job-title {
  font-weight: bold;
  color: #666;
  margin-bottom: 20px;
}
.left-column h2 {
  color: #72b2ed;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  margin-bottom: 10px;
}

.left-column section {
  margin-bottom: 10px;
  text-align: left;
  font-size: 15px;
}
.left-column h3 {
  color: #333;
  border-bottom: 3px solid #ddd;
  padding-bottom: 5px;
  font-size: 20px;
}
.left-column ul {
  padding-left: 15px;
  list-style: disc;
}


/* Cột phải */
.right-column {
  width: 65%;
  padding: 30px;
}

.right-column section {
  margin-bottom: 30px;
  font-size: 15px;
}

.right-column h3 {
  color: #007acc;
  font-size: 20px;
  border-bottom: 2px solid #007acc;
  padding-bottom: 5px;
}


.item {
  margin-top: 15px;
}

.item h4 {
  margin-bottom: 5px;
  font-size: 1.1em;
}
